<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={"JetForm v#{Application.spec(:app, :vsn)}"} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="captcha-sitekey" content={captcha_sitekey()} />
    <.live_title suffix={" | " <> app_info(:tagline)}>
      <%= assigns[:page_title] || app_info(:name) %>
    </.live_title>
    <.seo_tags :if={assigns[:page_info]} page_info={assigns[:page_info]} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class={assigns[:body_class] || "bg-slate-200"}>
    <%= @inner_content %>
  </body>
  <%!-- <script defer src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit">
  </script> --%>
  <script
    defer
    src={App.Umami.url() <> "/script.js"}
    data-website-id={App.Umami.website_id()}
    data-auto-track="false"
  >
  </script>
  <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
  </script>
</html>
