@import "trix/dist/trix.css";

/* Trix styles */
.trix-button--icon-strike {
    display: none;
}

.trix-button--icon-quote {
    display: none;
}

.trix-button--icon-code {
    display: none;
}

.trix-button--icon-decrease-nesting-level {
    display: none;
}

.trix-button--icon-increase-nesting-level {
    display: none;
}

.trix-button-group--file-tools {
    display: none !important;
}

.trix-content {
    @apply bg-white;
}

.trix-content a {
    @apply text-primary-500;
}

.trix-content ol li {
    @apply list-decimal mb-1;
}

.trix-content ul li {
    @apply list-disc mb-1;
}

.trix-button-row .trix-button-group {
    @apply border border-gray-300 rounded-sm;
}

.trix-button-row button {
    @apply bg-white border-none shadow-md;
}

.trix-content {
    @apply border border-gray-300 rounded p-4 text-sm;
}

.trix-content.preview {
    @apply border-none p-0 text-base;
}