<div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-md shadow dark:bg-gray-800">
  <%!-- <div
    id="alert-border-4"
    class=" p-4 mb-4 text-yellow-800 border-t-4 border-yellow-300 bg-yellow-50 dark:text-yellow-300 dark:bg-gray-800 dark:border-yellow-800"
    role="alert"
  >
    <div class="ms-3 text-sm">
      Terima kasih atas ketertarikan Anda untuk bergabung dengan kami.
      <strong>
        JetForm adalah layanan yang baru saja berdiri, jadi mohon maaf apabila ada fitur yang belum tersedia ataupun tidak berjalan dengan sempurna 🙏
      </strong>
    </div>
    <div class="ms-3 mt-2 text-sm">
      Untuk itu kami mohon bantuan Anda untuk memberikan feedback, saran, ataupun laporan bug yang Anda temui. Anda bisa hubungi kami kapan saja melalui email atau WhatsApp yang tertera di <a
        href="https://www.jetform.me/kontak"
        target="_blank"
        class="font-bold"
      >halaman kontak</a>. Terima kasih atas dukungan Anda! 🚀
    </div>
  </div> --%>

  <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
    Buat Akun
    <div class="mt-2 text-sm font-medium text-gray-500 dark:text-gray-400">
      Sudah punya akun?
      <.link
        navigate={Pow.Phoenix.Routes.path_for(@conn, Pow.Phoenix.SessionController, :new)}
        class="text-primary-500 hover:underline dark:text-primary-500"
      >
        Masuk
      </.link>
      sekarang.
    </div>
  </h2>

  <.simple_form :let={f} for={@changeset} as={:user} action={@action} phx-update="ignore">
    <div class="mt-8 space-y-6">
      <.error :if={@changeset.action}>
        Oops, terjadi kesalahan! Silahkan cek kembali data yang anda masukkan.
      </.error>
      <.input field={f[:action]} type="hidden" value="create" required />
      <.input
        field={f[Pow.Ecto.Schema.user_id_field(@changeset)]}
        type={(Pow.Ecto.Schema.user_id_field(@changeset) == :email && "email") || "text"}
        label={Phoenix.Naming.humanize(Pow.Ecto.Schema.user_id_field(@changeset))}
        required
      />
      <.input
        field={f[:username]}
        type="text"
        label="Username"
        phx-keyup={JS.dispatch("update-shop-username")}
        required
      >
        <:help>
          <div class="mt-2 text-xs text-gray-500 dark:text-gray-400">
            <%= AppWeb.Utils.user_url("username") %>
          </div>
        </:help>
      </.input>
      <.input field={f[:password]} type="password" label="Password" required />
      <.input field={f[:password_confirmation]} type="password" label="Confirm password" required />
    </div>

    <:actions>
      <div class="mt-8 text-right">
        <.button
          phx-disable-with="Registering..."
          class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-600 rounded-md hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-600 dark:focus:ring-primary-800"
        >
          Buat Akun <span aria-hidden="true">→</span>
        </.button>
      </div>
    </:actions>
  </.simple_form>
</div>
